/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

/* Generic Styling */
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    height: 440px;
    width: 660px;
}
body::-webkit-scrollbar {
    display: none;
}

/* Styling Main Section */
main {
    background: url('images/bg.jpg') , linear-gradient(to right, #3d7eaa, #ffe47a);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}
.box {
    margin: 20% 20%;
    border-radius: 18px;
    padding: 2rem 3.6rem;
    text-align: center;
    z-index: 1;
    backdrop-filter: blur(5px);
}
.box * + * {
    margin-top: 1.4rem;
}
.quote-text {
    color: #f0f0f0e1;
    font-weight: 600;
    font-size: clamp(1.2rem,1rem + 2vw,1.8rem);
    line-height: 1.2;
    transition: all 0.2s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.quote-author {
    color: #b3b3b3;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.2s ease;
    font-size: clamp(1.12rem,1rem + 1vw,1.4rem);
}
.next-button {
    padding: 0.6rem 1rem 0.65rem;
    background-color: rgb(32, 51, 51);
    border: 0;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}